/* FONT E COLORI */
/*
DirtyCrown per Titoli e sottotitoli
Louis George Cafe per paragrafi e testo normale


#5c2414 colore principale
#b3b6b8 colore sfondo
#453c39 colore testo */
:root {
    --Color-G: rgb(69, 60, 57);
    --Color-B: rgb(92, 36, 20);
    --color-N: rgb(137, 109, 82);
    --color-W: rgb(216, 220, 225);

}

.text-G {
    color: var(--Color-G);
}

.tect-B {
    color: var(--Color-B);
}


.logo-img {
    max-width: 150px;
}



body {
    background-color: rgb(216, 220, 225);
}

/* Nav */
nav {
    position: sticky;
    top: 0;
    background-color: var(--color-W);
    z-index: 999;
    margin-bottom: 20px;
}



/* Header custom */

.flags{
    width: 30px;
    height: 30px;
    border: none;
    padding: none;
    background-color: transparent;
}

.box-header {
    background-color: rgb(216, 220, 225);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.16);
}



/* SEZIONE REGISTRATI/LOGIN/LOGOUT */
.logo-register {
    margin-right: 15px;
    color: rgb(69, 60, 57);
}

.register {
    text-decoration: none;
    color: rgb(69, 60, 57);
    font-family: 'Kalnia', serif;
}

.register:hover {
    font-weight: bold;
    color: rgb(92, 36, 20);
}

.logo-login {
    margin-right: 15px;
    color: rgb(69, 60, 57);
}

.login {
    text-decoration: none;
    color: rgb(69, 60, 57);
    font-family: 'Kalnia', serif;
}

.login:hover {
    font-weight: bold;
    color: rgb(92, 36, 20);
}

.btn {
    border: none;
    color: white;
    max-width: max-content;
}

.btn:hover {
    color: white;
    opacity: 0.9;
}

.buttonCustom {
    background-color: rgb(92, 36, 20);
}
.buttonCustom:hover {
    background-color: rgb(92, 36, 20);
}

.dropdown-menu {
    background-color: rgb(92, 36, 20);
}

.dropdown-item {
    color: white;
    background-color: rgb(92, 36, 20);
}

.dropdown-item:hover {
    background-color: transparent;
    font-weight: bold;
    color: white;
}

/* FINE SEZIONE REGISTRATI/LOGIN/LOGOUT */

/* SEZIONE HEADER HOMEPAGE */

.img-carousel {
    height: 500px;
    object-fit: cover;
}

/* FORM CARICA ANNUNCI */

.alert {
    width: 100%;
    margin: 0px;
    margin-top: -18px;

}

/* PAGIINA ANNUNCI */

.pagination {
    background-color: rgb(236, 238, 243);
}

.page-item {
    margin-left: 10px;
    background-color: rgb(236, 238, 243);
}

/* SWIPER */

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0px 8px 8px rgba(32, 32, 32, 0.3);
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    box-shadow: 8px 8px 8px rgba(32, 32, 32, 0.3);
}

.swiper-slide img {
    display: block;
    width: 100%;
    
}
.icon-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.swiper-slide:hover .dark-overlay {
    opacity: 1;
}
.swiper-slide:hover .icon-container {
    opacity: 1;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Opacità 0.5 per uno sfondo scuro */
    opacity: 0;
    transition: opacity 0.3s ease;
}

.img-preview{
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-carousel{
    width: 400px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}