/* FONT E COLORI */
/*
DirtyCrown per Titoli e sottotitoli
Louis George Cafe per paragrafi e testo normale


#5c2414 colore principale
#b3b6b8 colore sfondo
#453c39 colore testo */
:root{
    --Color-G: rgb(69, 60, 57);
    --Color-B: rgb(92, 36, 20);
    --color-N: rgb(137, 109, 82);
    --color-W: rgb(216, 220, 225);

}

.text-G{
    color: var(--Color-G);
}
.tect-B{
    color: var(--Color-B);
}


.logo-img{
    max-width: 150px;
}



body{
    background-color: rgb(216, 220, 225);
}
/* Nav */
nav{
    position: sticky;
    top: 0;
    background-color: rgb(216, 220, 225);
    z-index: 999;
    margin-bottom: 20px;
}
/* Header custom */
.box-header{
    background-color: rgb(216, 220, 225);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.16);
}
#header-custom{
    border-bottom: 1px solid rgba(128, 128, 128, 0.607);
}
/* SEZIONE REGISTRATI/LOGIN/LOGOUT */
.logo-register {
    margin-right: 15px;
    color: rgb(69, 60, 57);
}

.register{
    text-decoration: none;
    color: rgb(69, 60, 57);
    font-family: 'Kalnia', serif;
}
.register:hover{
    font-weight: bold;
    color: rgb(92, 36, 20);
}

.logo-login {
    margin-right: 15px;
    color: rgb(69, 60, 57);
}
.login{
    text-decoration: none;
    color: rgb(69, 60, 57);
    font-family: 'Kalnia', serif;
}
.login:hover{
    font-weight: bold;
    color: rgb(92, 36, 20);
}

.btn{
    border: none;
    color: white;
    max-width: max-content;
    background-color: rgb(69, 60, 57);
}
.btn:hover{
    color: white;
    background-color: rgb(92, 36, 20);
}
.dropdown-menu{
    background-color: rgb(92, 36, 20);
}
.dropdown-item{
    color: white;
    background-color: rgb(92, 36, 20);
}
.dropdown-item:hover{
    background-color: transparent;
    font-weight: bold;
    color: white;
}
/* FINE SEZIONE REGISTRATI/LOGIN/LOGOUT */

/* SEZIONE HEADER HOMEPAGE */

.img-carousel{
    height: 500px;
    object-fit: cover;
}

/* FORM CARICA ANNUNCI */

.alert {
    width: 100%;
    margin: 0px;
    margin-top: -18px;
    
}

/* PAGIINA ANNUNCI */

.pagination {
    background-color: rgb(236, 238, 243);
}

.page-item {
    margin-left: 10px;
    background-color: rgb(236, 238, 243);
}